In [1]:
import numpy as np
import pandas as pd

In [2]:
#WARMUP: In a notebook, write me a loop FOR numbers 1-100, if the number is divisible by 3 print Code,
#if the number is divisible by 5 print Up, if it is divisible by 3 and 5 print CodeUp.
#Otherwise just print the number

In [10]:
result = []
for i in range (1,101):
    if (i%3==0) & (i%5==0):
        print('CodeUp')
    elif i % 3 ==0:
        print('Code')
    elif i % 5==0:
        print('Up')
    else:
        print(i)

1
2
Code
4
Up
Code
7
8
Code
Up
11
Code
13
14
CodeUp
16
17
Code
19
Up
Code
22
23
Code
Up
26
Code
28
29
CodeUp
31
32
Code
34
Up
Code
37
38
Code
Up
41
Code
43
44
CodeUp
46
47
Code
49
Up
Code
52
53
Code
Up
56
Code
58
59
CodeUp
61
62
Code
64
Up
Code
67
68
Code
Up
71
Code
73
74
CodeUp
76
77
Code
79
Up
Code
82
83
Code
Up
86
Code
88
89
CodeUp
91
92
Code
94
Up
Code
97
98
Code
Up

### Warmup Jan 3
#### What information is stored in the toppings table?
Topping ID, name and price
#### What information is stored in the modifiers table?
extra cheese, well done, no cheese on pizza
#### How are the pizzas and sizes tables related?
size of pizza from small to xl with price
#### What other tables are in the database?
crust types, 
Error Code: 1142. SELECT command denied to user 'mirzakhani_1938'@'rrcs-71-78-74-186.sw.biz.rr.com' for table 'topping_name'

In [ ]:
#Select distinct toppings
USE pizza;

SELECT COUNT(DISTINCT topping_name)
FROM toppings;